<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/lib/bootStrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootStrap/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/comm.css"/>
    <link href="/css/signsDetection/abnormal/detail.css" rel="stylesheet" />
    <link href="/css/customer/index.css" rel="stylesheet" />
    <title>客户端首页</title>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-customer">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <img src="../img/Logo.png"/>
            <a class="" href="javascript:void(0);">云下健管</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav  navbar-nav navbar-right">
                <li>
                    <a href="#"><i class="fa fa-user"></i>&nbsp;&nbsp;${person.mobilePhone ? default('')}</a>
                </li>
                <li class="exit">
                    <a href="#"><i class="fa fa-circle-o-notch"></i>&nbsp;&nbsp;退出</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<section class="container customer-con">
    <header class="alert alert-danger alert-dismissible" style="margin-bottom: 10px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        免责声明：请操作完成后退出登录，若不退出登录一切后果自负，与本站无关！
    </header>
    <section id="customer_con">
        <div class="healthReport">
            <div class="">
                <h3 class="text-center">个人体检报告
                    <a href="javascript:void(0);" class="pull-right" id="historyInfo">
                        <i class="fa fa-file-text" aria-hidden="true"></i> 查看历史体检报告
                    </a>
                </h3>
            </div>
            <input type="hidden" value="${person.id}" id="personId">
            <div class="">
                <div class="col-sm-3">姓名：<span name="name">
            ${person.name? default('')}
        </span></div>
                <div class="col-sm-3">性别：<span name="gender">${person.gender?string("男", "女")}</span>
                </div>
                <div class="col-sm-3">年龄：<span name="age">${person.age? default('')}</span></div>
                <div class="col-sm-3">报告生成日期：<span name="createDate">${(report.createDate?string("yyyy-MM-dd"))!}</span></div>
            </div>
            <div class="">
                <table class="table">
                    <tbody>
                    <tr class="">
                        <th colspan="2">检测项目</td>
                        <th colspan="2">检测结果</td>
                        <th colspan="2">参考范围</td>
                    </tr>
                    <tr>
                        <td colspan="2">收缩压（mmHg）</td>
                        <td colspan="2" class="padSty" name="sbp">${report.sbp ? default('')}</td>
                        <td colspan="2">90-140</td>
                    </tr>
                    <tr>
                        <td colspan="2"">舒张压（mmHg）</td>
                        <td colspan="2" class="padSty" name="dbp">${report.dbp ? default('')}</td>
                        <td colspan="2">60-90</td>
                    </tr>
                    <tr>
                        <td colspan="2">空腹血糖（mmol/L）</td>
                        <td colspan="2" class="padSty" name="fastingGlucose">${report.fastingGlucose ? default('')}</td>
                        <td colspan="2">3.9-6.1</td>
                    </tr>
                    <tr>
                        <td colspan="2">餐后血糖（mmol/L）</td>
                        <td colspan="2" class="padSty" name="postprandialGlucose">${report.postprandialGlucose ? default('')}</td>
                        <td colspan="2"><7.8</td>
                    </tr>
                    <tr>
                        <td colspan="2">血氧饱和度（%）</td>
                        <td colspan="2" class="padSty" name="oxygenSaturation">${report.oxygenSaturation ? default('')}</td>
                        <td colspan="2">95-100</td>
                    </tr>
                    <tr>
                        <td colspan="2">常规心电图</td>
                        <td colspan="2" class="padSty" name="ecg">${report.ecg ? default('')}</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2">心率（bpm）</td>
                        <td colspan="2" class="padSty" name="heartRateMax">${report.heartRateMax ? default('')}</td>
                        <td colspan="2">60-100</td>
                    </tr>
                    <tr>
                        <td colspan="2">体温（℃）</td>
                        <td colspan="2" class="padSty">${report.temperature ? default('')}</td>
                        <td colspan="2">36-37</td>
                    </tr>
                    <tr>
                        <td colspan="2">尿酸（umol/L）</td>
                        <td colspan="2" class="urine">${report.urine ? default('')}</td>
                        <td colspan="2">男士：149-416 &nbsp;&nbsp;女士：89-357</td>
                    </tr>
                    <tr>
                        <td colspan="2">体重（kg）</td>
                        <td colspan="2" class="weight">10</td>
                        <td colspan="2">36-37</td>
                    </tr>
                    <tr>
                        <td colspan="2">身高（cm）</td>
                        <td colspan="2" class="height">${report.height ? default('')}</td>
                        <td colspan="2">36-37</td>
                    </tr>
                    <tr>
                        <td colspan="2">矫正视力-左</td>
                        <td colspan="2" class="correctedVisionLeft">${report.correctedVisionLeft ? default('')}</td>
                        <td colspan="2">1.0</td>
                    </tr>
                    <tr>
                        <td colspan="2">矫正视力-右</td>
                        <td colspan="2" class="correctedVisionRight">${report.correctedVisionRight ? default('')}</td>
                        <td colspan="2">1.0</td>
                    </tr>
                    <tr>
                        <td colspan="2">裸眼视力-左</td>
                        <td colspan="2" class="nakedVisionLeft">${report.nakedVisionLeft ? default('')}</td>
                        <td colspan="2">1.0</td>
                    </tr>
                    <tr>
                        <td colspan="2">裸眼视力-右</td>
                        <td colspan="2" class="nakedVisionRight">${report.nakedVisionRight ? default('')}</td>
                        <td colspan="2">1.0</td>
                    </tr>
                    <tr>
                        <td colspan="2">胸围（cm）</td>
                        <td colspan="2" class="bust">${report.bust ? default('')}</td>
                        <td colspan="2">84</td>
                    </tr>
                    <tr>
                        <td colspan="2">臀围（cm）</td>
                        <td colspan="2" class="hipline">${report.hipline ? default('')}</td>
                        <td colspan="2">86</td>
                    </tr>
                    <tr>
                        <td colspan="2">腰围（cm）</td>
                        <td colspan="2" class="waist">${report.waist ? default('')}</td>
                        <td colspan="2">62</td>
                    </tr>
                    <tr>
                        <th>血脂检测</th>
                        <th>检测结果</th>
                        <th>参考范围</th>
                        <th>血脂检测</th>
                        <th>检测结果</th>
                        <th>参考范围</th>
                    </tr>
                    <tr>
                        <td>总胆固醇（mmol/L）</td>
                        <td class="totalCholesterol">${report.totalCholesterol ? default('')}</td>
                        <td>2.8-5.17</td>
                        <td>甘油三酯（mmol/L）</td>
                        <td class="triglyceride">${report.triglyceride ? default('')}</td>
                        <td>0.56-1.7</td>
                    </tr>
                    <tr>
                        <td>高密度脂蛋白（mmol/L）</td>
                        <td class="highLipoprotein">${report.highLipoprotein ? default('')}</td>
                        <td>0.9-1.55</td>
                        <td>低密度脂蛋白（mmol/L）</td>
                        <td class="lowLipoprotein">${report.lowLipoprotein ? default('')}</td>
                        <td>0-3.1</td>
                    </tr>
                    <!--<tr>-->
                    <!--<td>白细胞（cells/uL）</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--<td>亚硝酸盐</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>尿胆原（umol/L）</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--<td>蛋白质（g/L）</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>酸碱度</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>4.6-8.0</td>-->
                    <!--<td>潜血（cells/uL）</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>比重</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>1.015-1.025</td>-->
                    <!--<td>酮体（mmol/L）</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>胆红素</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--<td>葡萄糖（mmol/L）</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>维生素C（mmol/L）</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--<td>蛋白质（g/L）</td>-->
                    <!--<td class="padSty"><input class="form-control"/></td>-->
                    <!--<td>阴性</td>-->
                    <!--</tr>-->
                    <tr>
                        <th colspan="6">结论及建议</th>
                    </tr>
                    <tr>
                        <td colspan="6">${report.remark ? default('')}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>


<script src="/js/common/jquery.min.js"></script>
<script src="/lib/bootStrap/js/bootstrap.min.js"></script>
<script src="/lib/bootStrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="/lib/bootStrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/common/comm.js"></script>
<script src="/js/customer/index.js"></script>
</body>
</html>