<style>
    .form-control {
        margin: 15px 0px;
    }

    .form-control-feedback {
        margin: 15px 0px;
    }

    .control-label {
        margin: 15px 0px;
    }

    .row {
        width: 100%;
    }
</style>
<form id="formUpdate" class="form-horizontal">
    <input id="categoryId" type="hidden" value="${category.categoryId!}">
    <div class="form-group" style="margin-top:15px">
        <div class="row">
            <label class="control-label col-sm-1" for="categoryName">分类名称</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="categoryName" id="categoryName" value="${category.categoryName!}">
            </div>
            <label class="control-label col-sm-1" for="isClose">是否首页展示</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="isClose" id="isClose" value="${category.isClose!}">
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-1" for="version">版本编号</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="version" id="version" value="${category.version!}">
            </div>
        </div>
    </div>

    <div>
        <div class="col-lg-10" style="text-align:right">
            <#if category.categoryName??>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary"
                            onclick="updateCategory(2)">提交
                    </button>
                <#else>
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary"
                            onclick="updateCategory(1)">提交
                    </button>
            </#if>
        </div>
    </div>
</form>

<script src="lib/bootStrap/js/bootstrapValidator.js"></script>
<script src="js/category/eidt.js"></script>