<style>
    .form-control {
        margin: 15px 0px;
    }

    .form-control-feedback {
        margin: 15px 0px;
    }

    .control-label {
        margin: 15px 0px;
    }

    .row {
        width: 100%;
    }
</style>
<form id="formUpdate" class="form-horizontal">
    <input id="categoryContentId" type="hidden" value="${hmxCategoryContent.categoryContentId!}">
    <div class="form-group" style="margin-top:15px">
        <div class="row">
            <div>
                <label class="control-label col-sm-1" for="img">首图</label>
                <div class="col-lg-4">
                    <input type="file" id="img" onchange="imgPreview(this)">
                </div>
                <label class="control-label col-sm-1" for="img">预览</label>
                <div class="col-lg-4">
                    <#if hmxCategoryContent.img??>
                        <img name="imgId" src="${hmxCategoryContent.contentImages}" id="imgUrl" style="width: 100%;height: 100px">
                        <#else>
                            <img id="preview" style="width: 100%;height: 100px"  />
                    </#if>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-1" for="name">标题</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="name" id="name" value="${hmxCategoryContent.categoryTitle!}">
            </div>
            <label class="control-label col-sm-1" for="type01">类型</label>
            <div class="col-lg-4">
                <select class="form-control" name="type01" id="type01">
                    <option value="">请选择</option>
                    <#list category as item>
                        <option value="${item.categoryId!}">${item.categoryName!}</option>
                    </#list>
                </select>
            </div>

        </div>
        <div class="row">
            <label class="control-label col-sm-1" for="video">视频</label>
            <div class="col-lg-4">
                <select class="form-control" name="video" id="video">
                    <option value="">请选择</option>
                    <!--<#list category as item>
                        <option value="${item.categoryId!}">${item.categoryName!}</option>
                    </#list>-->
                    <option value="">视频1</option>
                    <option value="">视频2</option>
                    <option value="">视频3</option>
                    <option value="">视频4</option>
                </select>
            </div>
            <label class="control-label col-sm-1" for="mp3">音频</label>
            <div class="col-lg-4">
                <select class="form-control" name="mp3" id="mp3">
                    <option value="">请选择</option>
                    <!--<#list category as item>
                        <option value="${item.categoryId!}">${item.categoryName!}</option>
                    </#list>-->
                    <option value="">音频1</option>
                    <option value="">音频2</option>
                    <option value="">音频3</option>
                    <option value="">音频4</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-1">内容</label>
            <div class="col-lg-9" id="editor">
                <p id="content">${hmxCategoryContent.categoryContent!}</p>

            </div>
        </div>
    </div>
    <div class="col-lg-10" style="text-align:right">
        <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary"
                onclick="updateArticle()">提交
        </button>
    </div>
    </div>
</form>

<script src="lib/bootStrap/js/bootstrapValidator.js"></script>
<script src="js/categoryContent/wangEditor.min.js"></script>
<script src="js/categoryContent/editor.js"></script>
<script src="js/categoryContent/list.js"></script>