<style>
    .form-control {
        margin: 15px 0px;
    }

    .form-control-feedback {
        margin: 15px 0px;
    }

    .control-label {
        margin: 15px 0px;
    }

    .row {
        width: 100%;
    }
</style>
<form id="formUpdate" class="form-horizontal">
    <input id="categoryContentId" type="hidden" value="${hmxCategoryContent.categoryContentId!}">
    <div class="form-group" style="margin-top:15px">
        <div class="row">
            <label class="control-label col-sm-1" for="categoryTitle">标题</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="categoryTitle" id="categoryTitle" value="${hmxCategoryContent.categoryTitle!}">
            </div>
            <label class="control-label col-sm-1" for="contentType">类型</label>
            <div class="col-lg-4">
                <select class="form-control" name="contentType" id="contentType">
                    <option value="">请选择</option>
                    <#list category as item>
                        <option value="${item.categoryId!}" <#if hmxCategoryContent.contentType?? && hmxCategoryContent.contentType==item.categoryId>selected="selected"</#if>>${item.categoryName!}</option>
                    </#list>
                </select>
            </div>

        </div>
        <div class="row">
            <label class="control-label col-sm-1">内容</label>
            <div class="col-lg-9" id="editor">
                <p id="content">${hmxCategoryContent.categoryContent!}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-10" style="text-align:right">
        <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary"
                onclick="updateArticle()">提交
        </button>
    </div>
    </div>
</form>


<script src="js/categoryContent/list.js"></script>
<script src="lib/bootStrap/js/bootstrapValidator.js"></script>
<script src="js/categoryContent/wangEditor.min.js"></script>
<script src="js/categoryContent/editor.js"></script>

