<div class="panel panel-default">
    <div class="panel-heading">查询条件</div>
    <div class="panel-body">
        <form id="formSearch" class="form-horizontal">
            <div class="form-group" style="margin-top:15px">
                <label class="control-label col-sm-1" for="categoryTitle">标题</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="categoryTitle">
                </div>
                <label class="control-label col-sm-1" for="contentType">类型</label>
                <div class="col-sm-2">
                    <select class="form-control" id="contentType">
                        <option value="">请选择</option>
                        <#list category as item>
                            <option value="${item.categoryId!}">${item.categoryName!}</option>
                        </#list>
                    </select>
                </div>
                <label class="control-label col-sm-1" for="browseNum">浏览量</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="browseNum">
                </div>
                <div class="col-sm-4" style="text-align:left;">
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary"
                            onclick="searchList()">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="toolbar" class="btn-group" style="float: right;margin: 10px 0;">
    <button id="btn_add" type="button" class="btn btn-default" onclick="openEidt()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>
</div>
<table id="contentList"></table>
</div>
<script src="js/categoryContent/list.js"></script>

