.term{
    display: flex;
    border-bottom: 1px solid #ccc;
    /*flex-wrap: wrap;*/
}
.term>li{
    position: relative;
    width: 20%;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    /*transition: all 1s ease-out;*/
}
.term > li > a{
    background-color: #57b3ed;
    color: white;
    width: 100px;
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 80px;
    text-decoration: none;
    font-weight: 600;
    transition: all .2s;
    border: 2px solid #00B83F;
    transform:rotateZ(0deg);
}
.term > li > a:hover{
    /*background-color: #57b3edd6;*/
    /*transform:rotateZ(360deg);*/
    box-shadow: 0 0 0 2px rgb(123, 204, 255);
}
.term .active{

    /*transition-timing-function: ease-out;*/
}
.term .active > a{
    color: rgb(200,217,31);
    background-color: rgb(14, 50, 62);
}
.term>.active:before,
.term>.active:after{
    position: absolute;
    content: " ";
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.term>.active:before{
    border-bottom: 13px solid #ccc;
    width: 2px;
    height: 0;
}
.term>.active:after{
    border-bottom: 12px solid #fff;
    width: 2px;
    height: 0;
    bottom: -2px;
}