<div class="panel panel-default">
    <div class="panel-heading">查询条件</div>
    <div class="panel-body">
        <form id="formSearch" class="form-horizontal">
            <div class="form-group" style="margin-top:15px">
                <label class="control-label col-sm-1" for="name">名称</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="name">
                </div>
                <label class="control-label col-sm-1" for="type">类型</label>
                <div class="col-sm-2">
                    <select class="form-control" id="type">
                        <option value="">请选择</option>
                        <option value="1">类型1</option>
                        <option value="2">类型2</option>
                        <option value="3">类型3</option>
                    </select>
                </div>
                <div class="col-sm-4" style="text-align:left;">
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary"
                            onclick="searchList()">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="toolbar" class="btn-group" style="float: right;margin: 10px 0;">
    <button id="btn_add" type="button" class="btn btn-default" onclick="openAdd()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>上传视频
    </button>
</div>
<table id="vedioList"></table>
</div>
<script src="js/media/vedio/list.js"></script>

