<link href="js/common/bootstrap3.3.7/css/fileinput.min.css" rel="stylesheet" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"/>
<div class="panel panel-default">
    <div class="panel-heading">查询条件</div>
    <div class="panel-body">
        <form id="formSearch" class="form-horizontal">
            <div class="form-group" style="margin-top:15px">
                <label class="control-label col-sm-1" for="title1">标题</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="title1">
                </div>
                <label class="control-label col-sm-1" for="contentType1">内容项</label>
                <div class="col-sm-2">
                    <select class="selectpicker show-tick form-control" data-live-search="true" id="contentType1">
                        <option value="">请选择</option>
                        <#list contents as item>
                            <option value="${item.categoryContentId!}">${item.categoryTitle!}</option>
                        </#list>
                    </select>
                </div>
                <div class="col-sm-4" style="text-align:left;">
                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary"
                            onclick="searchList()">查询
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="toolbar" class="btn-group" style="float: right;margin: 10px 0;">



    <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>上传视频
    </button>

</div>
<table id="vedioList"></table>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="cleaarPath()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    视频
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="control-label col-sm-1" for="img">视频</label>
                        <div class="col-lg-4">
                            <input type="file" id="img" onchange="showVideo(this)">
                        </div>
                        <label class="control-label col-sm-1" for="img">预览</label>
                        <div class="col-lg-4">
                            <video style="width: 100% ;height: 80%" src="" id="video0" controls="controls"></video>
                        </div>
                        <!--进度条--->
                        <!--<div class="progress">-->
                            <!--<div id="progress">-->
                                <!--<span> </span>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <label class="control-label col-sm-1" for="title">标题</label>
                    <div class="col-lg-4">
                        <input class="form-control" rows="4" name="content" id="title" >
                    </div>
                    <label class="control-label col-sm-1" for="contentType">内容项</label>
                    <div class="col-lg-4" >
                        <select class="selectpicker show-tick form-control" data-live-search="true" id="contentType">
                            <option value="">请选择</option>
                            <#list contents as item>
                                <option value="${item.categoryContentId!}">${item.categoryTitle!}</option>
                            </#list>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <label class="control-label col-sm-1" for="ratio">清晰度</label>
                    <div class="col-lg-4" >
                        <select class="selectpicker show-tick form-control" data-live-search="true" id="ratio">
                            <option value="">请选择</option>
                            <option value="1">标清</option>
                            <option value="2">高清</option>
                            <option value="3">超清</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cleaarPath()">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="uploadVideo()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="js/common/bootstrap3.3.7/js/fileinput.min.js"></script>
<script src="js/common/bootstrap3.3.7/js/locales/zh.js"></script>
<script src="js/media/vedio/list.js"></script>



