html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.logo-wrap{
    width: 100%;
    height:100px;

}
.logo-wrap span{
    display: inline-block;
    font-size:26px;font-weight: bold;color:#4185af;height:100%;
    vertical-align: top;
    padding-left: 20px;
}
.content-wrap{
    width:100%;
    height: 100%;
    background:url("../../img/bgs.png") top center repeat-x;
    background-size:100% auto;
    position:relative;
    padding:0 15px;
}

.login-wrap {
    position: absolute;
    top:10%;
    /*right:150px;*/
    width: 400px;
    background-color: rgba(255,255,255,1);

    padding: 20px 35px 35px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 10px #cac6c6;
    box-sizing: border-box;
}
.login-wrap .title{
    margin-bottom: 30px;
}
.login-wrap .title h4{
    margin-top:5px;
    font-weight: bold;
    padding-bottom: 15px;
    margin: 0 -35px;
    border-bottom:1px solid #ddd;
}
.login-wrap .form-group{
    margin-bottom: 25px;
}
.login-wrap .form-group input{
    background-color: rgba(255,255,255,.8);
    height:44px;
}
.login-wrap .form-group .input-group-addon{
    background-color: rgba(255,255,255,.8);
    padding: 6px 16px;
}
.btn-aio{
    color: #fff;
    height:44px;
    border-color: #55a8dc;
    background: #57b3ed;
    width: 100%;
    margin-top: 10px;
}
.btn-aio:focus, .btn-aio:hover {
    color: #fff;
    background: #55a8dc;
    text-decoration: none;
}
@media only screen and (max-width: 1920px) {
    .login-wrap {
        right:739px;
    }
}
@media only screen and (max-width: 1366px) {
    .login-wrap {
        right:85px;
    }
}
@media only screen and (max-width: 768px) {
    .login-wrap {
        right:auto;
        left:50%;
        transform: translateX(-50%);
    }
}