<#assign security=JspTaglibs["http://www.springframework.org/security/tags"] />
<link href="css/home/home.css" rel="stylesheet" />
<div class="home">

</div>
<script>
//    $(function(){
//        var id = '#healthServer',
//                sector = $('#accordion');
//
//        $('body').on('click', '.home .home-wrap', function(){
//            var data = menuShow.getHomeData,
//                    txt = $(this).find('h3').text();
//
//            sector.removeClass('in active focus');
//
//            if(data[txt]){
//                $('#aio-contentBox').load(data[txt]);
//                $(id).parent().addClass('active');
//                $(id).addClass('in');
//                $(id).find('a[url="'+data[txt]+'"]').addClass('focus');
//            }
//        })
//    }())
</script>
